.basic-card .card-title {
  font-size: 25px;
  font-family: sans-serif;
}

.basic-card-aqua {
  background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
  color: #fff;
}
.basic-card .card-content {
  padding: 30px;
}

.container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: 20em;
  margin: 1em;
}
